.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

body {
  background-color: #eef7ff;
}

.container {
  background-color: #eef7ff;
}

/*sidenav bug: yükseklik cok kısa olunca scroll gerekiyor...*/
.Sidenav {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #0d47a1;
  height: 100%;
  overflow: hidden;
}

.Sidenav li>a{
  color: white;
}

.Sidenav_Top{
  flex-direction: column;
  padding-top: 15%;
}

.Sidenav_Bottom {
  flex-direction: row; /*YANYANA GELMİYOR*/
  padding-top: 100%;
}


.nav-wrapper{
  display: flex;
  flex-direction: row;
}

.sidenav-trigger{
  order: 2;
}
.MenuItems{
  order:2;
  margin-left: auto;
}

.brand-logo{
  order: 1;
}

@media (max-width:600px) {
  .brand-logo i {
    display: none;
  }
}