/*OVERRIDES*/


body {
  background-color: #eef7ff;
}

/*MATERIALIZE OVERRIDES*/

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.container {
  background-color: #eef7ff;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
}

.sidenav-trigger {
  order: 2;
  justify-content: flex-end;
}

.brand-logo {
  margin-left: 20px;
  order: 1;
  justify-content: center;
}

footer .container{
  background-color: rgba(0, 0, 0, 0);
}

/*CAROUSEL CLIPPATHS*/

.owl-carousel .sl1 {
  clip-path: circle(115.8% at 0 0);
}

.owl-carousel .sl2 {
  clip-path: circle(75.0% at 50% 12%);
}

.owl-carousel .sl3 {
  clip-path: circle(113.6% at 100% 0);
}


/*CUSTOM CLASSES and CHILDS*/
.Sidenav {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #0d47a1;
  height: 100%;
  overflow: hidden;
}

.Sidenav li>a,
.Sidenav li>a .fas {
  color: white;
}

.Sidenav_Top {
  flex-direction: column;
  padding-top: 15%;
}

.Sidenav_Bottom {
  flex-direction: row;
  padding-top: 100%;
  flex-wrap: nowrap;
}

.MenuItems {
  order: 2;
  margin-right: 15px;
  justify-content: flex-end;
  margin-left: auto;
}

.Logo {
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url(kiwi.svg);
  background-size: 100px 82px;
}

.KitapCard .card-title {
  text-shadow: 2px 2px 2px black;
}

/*MEDIA QUERIES*/

@media (max-width:600px) {
  .brand-logo i {
    display: none;
  }
}

@media (max-height:630px) {
  .Sidenav_Bottom {
    padding-top: 60%;
  }
}

@media (max-height:525px) {
  .Sidenav_Bottom {
    padding-top: 5px;
  }