<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] - BookCycle</title>

    <!-- Bootstrap core CSS -->

    <link href="~/lib/bootswatch/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/left.css" rel="stylesheet" />
  

</head>



<body>

    <div class="row area">
        <div class="fixedmen f-jc-center col-3 col-sm-3">
            <div class="spiral pl-3 pr-3">
                @await Component.InvokeAsync("Wrapper")

            </div>
        </div>
        <div style="margin-left: auto; margin-right:auto;padding: 0; border-right: 1px solid black; border-left: 1px solid black;background-color:#364C71" class="col-6 col-sm-6">@RenderBody()</div>
        <div style="background-color:#364c71;" class="fixedmen2 col-3 col-sm-3">@await  Component.InvokeAsync("Right")</div>
    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", required: false)

</body>

</html>
