<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->

    <link href="~/lib/bootswatch/bootstrap.min.css" rel="stylesheet" />

  

</head>

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        overflow-x: hidden;
        padding: 0;
        margin: 0;
    }


    .hoverclass:hover {
        background-color: #E4E7EC;
        border-radius: 50px;
        cursor: pointer;
    }

    .btn-success {
        background-color: #55967E;
    }

    .btn {
        border-radius: 50px;
        font-weight: bold;
        font-size: 18px;
    }

    .btn-primary {
        background-color: #364C71;
    }

    .area {
        height: 100vh;
    }

    .f-jc-center {
        display: flex;
        justify-content: center;
    }

    .spiral {
        position: relative;
    }

    .f-ac-center {
        display: flex;
        align-items: center;
    }

    .headingText {
        display: inline-block;
        color: #55967E;
        font-weight: bold;
    }

    .menu {
        flex-direction: column;
    }

    .btn-absolute {
        position: absolute;
        bottom: 0;
    }
    .fixedmen {
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 1;
    }

     .fixedmen2 {
        position: fixed;
        top: 0;
        bottom: 0;
        right : 0;
        z-index: 1;
        overflow-y : scroll;
       
    }
</style>


<body>

    <div class="row area">
        <div class="fixedmen f-jc-center col-3 col-sm-3">
            <div class="spiral pl-3 pr-3">
                @await Component.InvokeAsync("Wrapper")

            </div>
        </div>
        <div style="margin-left: auto; margin-right:auto;padding: 0; border-right: 1px solid black; border-left: 1px solid black;background-color:#364C71" class="col-6 col-sm-6">@RenderBody()</div>
        <div style="background-color:#364c71;" class="fixedmen2 col-3 col-sm-3">@await  Component.InvokeAsync("Right")</div>
    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", required: false)

</body>

</html>
