@model AppUserSignInModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}

    <form action="Login" method="post" class="mt-5 w-50 mx-auto p-4 shadow">
        <div class="form-group">
            <label asp-for="UserName"></label>
            <span asp-validation-for="UserName"></span>
            <input asp-for="UserName" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <span asp-validation-for="Password"></span>
            <input asp-for="Password" class="form-control" />
        </div>
        <a asp-action="Register" class="btn btn-warning btn-sm">Kayıt Ol</a>
        <input type="submit"  class="btn btn-info btn-sm" value="Giriş Yap"/>
        
    </form>