

@model PasswordResetViewModel

@{
    ViewData["Title"] = "ResetPassword";
    Layout = null;
}

<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
</head>
<style>
    .validation-summary-errors > ul {
        list-style-type: none;
    }

    .custom {
        opacity: 0;
        position: relative;
    }

        .custom + label {
            display: -webkit-box;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            cursor: pointer;
            position: relative;
        }

        .custom[type="checkbox"] + label::before {
            content: "";
            width: 1.4em;
            height: 1.4em;
            border: 1px solid rgba(0, 0, 0, 0.2);
            margin-right: 1em;
            border-radius: 6px;
            background-color: transparent;
            -webkit-transition: background 300ms ease-in;
            transition: background 300ms ease-in;
        }

        .custom[type="checkbox"] + label::after {
            content: "\2713";
            color: white;
            position: absolute;
            left: 7px;
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;
        }

        .custom[type="checkbox"]:checked + label::after {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }

        .custom[type="checkbox"]:checked + label::before {
            background-color: #55967E;
        }

    label {
        color: #555;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    ::placeholder {
        color: #999;
        font-size: 16px;
    }/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
</style>
<body>
    <div class="container">
        <div class="img">
            <img src="~/img/book5.svg" />
        </div>
        <div class="login-container">
            <form asp-action="ResetPassword" method="post">
                <img class="logo" src="~/img/logo.svg" />
                <h2>Şifremi Unuttum</h2>
                <span asp-validation-for="UserName" style="color: #55967E; display: inline-block;margin-bottom: 5%;"></span>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>

                    <div>

                        <input placeholder="Kullanıcı Adı :" asp-for="UserName" class="input" type="text" />
                    </div>

                </div>

                <div asp-validation-summary="ModelOnly" style="color: #55967e; margin-top: 5%; margin-bottom: 5%;">

                </div>

                @if (ViewBag.Success != "successfull")
                {
                    <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        Yeni Şifre belirlemek için kayıtlı kullanıcı adınızı yazınız.
                        Şifre değiştirme linkini e-posta adresinize göndereceğiz.
                    </div>
                }
                @if(ViewBag.Success == "successfull")
                {
                    <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        Şifre yenileme linki mailinize gönderilmiştir.
                    </div>
                }


                <input type="submit" class="btn" value="Gönder" />


            </form>

        </div>
    </div>
    <script src="https://kit.fontawesome.com/70e637288c.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jqueryValidate/jquery.validate.min.js"></script>
    <script src="~/lib/jqueryUnob/jquery.validate.unobtrusive.min.js"></script>

</body>

</html>




@*<form asp-action="Login" method="post" class="mt-5 w-50 mx-auto p-4 shadow">
        <div class="form-group">
            <label asp-for="UserName"></label>
            <span asp-validation-for="UserName" class="text-danger"></span>
            <input asp-for="UserName" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <span asp-validation-for="Password" class="text-danger"></span>
            <input asp-for="Password" class="form-control" />
        </div>

        <div class="form-check">
            <input tyoe="checkbox" asp-for="RememberMe" class="form-check-input" />
            <label asp-for="RememberMe" class="form-check-label"> </label>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <a asp-action="Register" class="btn btn-warning btn-sm">Kayıt Ol</a>
        <input type="submit" class="btn btn-info btn-sm" value="Giriş Yap" />

    </form>*@