* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}


.hoverclass:hover {
    background-color: #E4E7EC;
    border-radius: 50px;
    cursor: pointer;
}

.btn-success {
    background-color: #55967E;
}

.btn {
    border-radius: 50px;
    font-weight: bold;
    font-size: 18px;
}

.btn-primary {
    background-color: #364C71;
}

.area {
    height: 100vh;
}

.f-jc-center {
    display: flex;
    justify-content: center;
}

.spiral {
    position: relative;
}

.f-ac-center {
    display: flex;
    align-items: center;
}

.headingText {
    display: inline-block;
    color: #55967E;
    font-weight: bold;
}

.menu {
    flex-direction: column;
}

.btn-absolute {
    position: absolute;
    bottom: 0;
}

.fixedmen {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
   
}

.fixedmen2 {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    overflow-y: scroll;
}

@media screen and (max-height: 760px) {
    .fixedmen {
        overflow-y: scroll;
    }
    .btn-absolute{
       position:initial;
       margin-top:16px;
    }
}